.main{
    margin-top: -10px;
    position: relative;
}

.main img{
    height: 900px;
    width: 1100px;
    margin-top: 0%;
    margin-left: 21.5%;
    position: fixed;
}

.mainkata{
    position:absolute;
    margin-left: 21.5%;
    padding: 15px;
    width: 80%;
    right: auto;
    top: 50px;
    text-align: center;
}

/* CSS Bagian Kiri */
.left{
    
    background-color: #49BEB7;
    height: 100%;
    width: 20%;
    padding: 15px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 10px;
    color: whitesmoke;
}

.propic{
    border-radius: 50%;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;  
    margin-top: 50px;
}

.left h3 {
    text-align: center;
}

.left img {
    text-align: center;
    text-decoration: none;
}

.socialMedia{
    margin-top: 220px;
}

.iconSocialMedia-parent{
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.mainkata a{
    text-decoration: none;
    color: black;
    font-style: normal;
    font-size: 20px;
    border: 1px solid;
    padding: 10px 10px 10px 10px;
    border-radius: 14px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
    
}

.mainkata a:hover{
    color: gray;
}

